<script>
   // var num1 = num1
   // var num2 = num2
   // var op = op
  // window.onload= function()alert("num1 is <%=num1%>" )
    alert("num1 is <%=num1%> and num2 is <%=num2%>. You are <%=op%> ")
</script>


<h1><%=num1%> <%=op%> <%=num2%> = <%=results%></h1>
<a href="/math">Pick Again</a>
